template(name="quote")
  .qoute.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dignissimos porro mollitia quod debitis accusantium, quisquam laboriosam iusto repellat eos, ipsum consequuntur earum eligendi doloremque in aut neque itaque? Libero?
